[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TnT"]
	path = TnT
	url = https://github.com/marlin-na/tnt
	shallow = true
	registered = true
